astroid==2.5.6
cloudpickle==1.6.0
evdev==1.4.0
greenlet==1.1.0
gym==0.18.3
isort==5.8.0
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
mss==6.1.0
neovim==0.3.1
numpy==1.20.3
opencv-python==4.5.1.48
parso==0.8.2
pep8==1.7.1
Pillow==8.2.0
pyglet==1.5.15
pylint==2.8.3
pynput==1.7.3
pynvim==0.4.3
python-xlib==0.30
scipy==1.6.3
six==1.16.0
toml==0.10.2
transitions==0.8.8
wrapt==1.12.1
xvfbwrapper==0.2.9
yapf==0.31.0
